<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JogosMyNewGame</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/telaGradeDeJogos.css" />
</head>

<body>
  <%- include('./partials/header') %>

    <main>
      <div class="div-principal">
        <h1 class="p">PLAY</h1>

        <% jogos.map(jogo => { %>
          <div class="jg">
            <a href="/jogos/<%=jogo.id_jogo%>">
              <img class="img" src="/assets/images/<%=jogo.imagem%>" alt="<%=jogo.nome%>">
            </a>
            <div class="prjg">
              <span>R$<%=jogo.preco %></span>
              <img src="/assets/images/carrinhocompra.png" alt="Carrinho De Compra">
            </div>
            <!-- <form action="/jogos/salvar " method="POST">
              <button type="submit" name="">Adicionar ao carrinho</button>
            </form> -->
            
          </div>
          <% }) %>
                  
      </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>